
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #6b7772;
    min-height: 100vh;
    border: 12px solid #163344;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1{
    font-size: 70px;
    font-weight: bold;
    color: #2f4648;
    text-transform: uppercase;
    text-align: center;
    margin-right: 100px;
}

.top_section h4{
    font-size: 20px;
    text-align: end;
    color: #162c2e;
    margin-bottom: 100px;
    margin-right: 100px;
}

.image_container{
    border-radius: 50%;
    overflow: hidden;

}

.image_container,img{
    width: 300px;
    height: 320px;
}

.about_section {
    margin-top: 50px;
}

.about_section h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.about_section p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: justify;
}

.facts{
    margin: 30px 0;
}

.facts h3{
    margin-bottom: 20px;
}

.facts ul{
    margin-left: 30px;
}

.facts ul{
    margin-bottom: 15px;
}

.facts ul{
    line-height: 1.5;
}

footer{
    margin: 40px 0;
}

footer p{
    text-align: end;
}